.card {
    width: 200px;
    text-align: center;
    padding: 0 44px;

    img {
        width: 70px;
        margin-bottom: 33px;
    }

    .title {
        text-transform: uppercase;
        font-weight: 600;
        color: #5572d6;
        font-size: 18px;
        letter-spacing: 3px;
    }
    .description {
        margin: 18px 0 20px 0;
    }
    .price {
        color: #5572d6;
        .value {
            font-size: 30px;
            font-weight: 600;
        }
        sup, sub {
            font-weight: 500;
            font-size: 100%;
        }
    }
}
