:host {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.list-container {
    display: flex;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 66%;
    background-color: white;
    padding: 45px 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px #5e779f;
}