/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #85a5d4;
    font-family: Roboto, sans-serif;
    color: #aaa8a7;
    font-size: 13px;
    line-height: 20px;
}